:root {
    /*Background*/
    --primary-background: rgb(228, 226, 226);
    --secondary-background: rgb(15, 16, 41);
       
    /*Opacity*/
    --primary-background-opacity: 0, 0, 0;
    --second-background-opacity: 0,0,0;
    --opacity-percent:0.4;
    
    /*font color*/
    --primary-color: rgb(226, 226, 226);
    --secondary-color: rgb(15, 16, 41);

    /*fontsize Desktop*/
    --large-font-size-desktop: 7vh;
    --medium-font-size-desktop: 5vh;;
    --small-font-size-desktop: 3vh;

   /*fontsize mobile*/
    --large-font-size-mobile: 9vw;
    --medium-font-size-mobile: 3vw;
    --small-font-size-mobile: 4.5vw;

    

    /*font weight*/
    --heavy-font-weight:800;
    --medium-font-weight:400;
    --light-font-weight:200;

    /*gradient and blur*/
    --gradient-percent:0.4;

    --mobile-transform-scale:scale(1.0);
    /* --margin-container: 5vw 0vh; */
    --margin-container-mobile: 03vw 0vh;

    /*Logo Sizing*/
    --logo-sizing-desktop:25vh;
    --logo-sizing-mobile:30vw;

    /*Margin Config*/
    --margin-desktop: 2vh 0;
    --margin-768px: 3vw 0vh;
    --margin-630px: 4vw 0vh;
    --margin-530px: 3vw 0vh;
    --margin-430px: 3vw 0vh;
    --padding-mobile: 5vw 2vh;

    /**/
    --mobile-height: 90vh;
  
}



