@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Nunito+Sans:opsz,wght@6..12,700;6..12,800&display=swap');

:root {
    /*Background*/
    --primary-background: rgb(255, 255, 255);
    --secondary-background: rgb(15, 16, 41);
    /*--third-background: rgb(0, 0, 0);*/

    /*Opacity*/
    --primary-background-opacity: 0, 0, 0;
    --second-background-opacity: 0,0,0;
    --opacity-percent:0.4;
    
    /*font color*/
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(15, 16, 41);

    /*fontsize*/
    --largest-font-size: 9vw;
    --large-font-size: 7vw;
    --medium-font-size: 6vw;
    --small-font-size: 2.5vw;
    --smallest-font-size:2vw;
    --tiny-font-size:1.5vw;
    --copy-font-size:1.5vw;
    

    /*font weight*/
    --heavy-font-weight:800;
    --medium-font-weight:400;
    --light-font-weight:200;

    /*gradient and blur*/
    --gradient-percent:0.4;

    /*Margin Desktok*/
    --margin-desktop: 2vh 0vw;

    /*Mobile Adapt*/
    --mobile-transform-scale: scale(1.5);
    --margin-530px: 5vh 0vw;
    --margin-430px: 3vh 0vw;
    --margin-330px: 2vh 0vw;
  
}



