:root {
    /*Background*/
    --primary-background: rgb(228, 226, 226);
    --secondary-background: rgb(15, 16, 41);
       
    /*Opacity*/
    --primary-background-opacity: 0, 0, 0;
    --second-background-opacity: 0,0,0;
    --opacity-percent:0.4;
    
    /*font color*/
    --primary-color: rgb(226, 226, 226);
    --secondary-color: rgb(15, 16, 41);

    /*fontsize*/
    --largest-font-size: 9vw;
    --large-font-size: 7vw;
    --medium-font-size: 6vw;
    --small-font-size: 2.5vw;
    --smallest-font-size:2vw;
    --tiny-font-size:1.5vw;
    --copy-font-size:1.5vw;
    

    /*font weight*/
    --heavy-font-weight:800;
    --medium-font-weight:400;
    --light-font-weight:200;

    /*gradient and blur*/
    --gradient-percent:0.4;

    --mobile-transform-scale:scale(1.5);
    --margin-container: 5vw 0vh;
    --margin-container-mobile: 03vw 0vh;

    /*Logo Sizing*/
    --logo-sizing-desktop:25vw;
    --logo-sizing-mobile:30vw;

    /*Box Config*/
    --margin-desktop: 1vw 0vh;
    --margin-768px: 4vw 0vh;
    --margin-630px: 4vw 0vh;
    --margin-530px: 5vw 0vh;
    --margin-430px: 4.5vw 0vh;
    --padding-mobile: 5vw 2vh;

    /**/
    --mobile-height: 90vh;
  
}



