@media (min-width: 768.1px) {

  .section__container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100vw;
   

}
.figure__logo{
  display: flex;
  justify-content: center;
}
.aside__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}
button {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 0.10em solid var(--secondary-color); 
  border-radius: 2em; 
  padding: 0.625em 1.25em; 
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0.0625em; 
  margin-right: 1em;
  margin-left: 1em;
  width: 10em;
  height: 1em;
  font-size: var(--smallest-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--medium-font-weight);
}

.img__logo{
  height: 30vh;
}


button:hover {
  background: var(--secondary-background);
  color: var(--primary-color);
  border: 0.0625em solid var(--primary-color);
  transform: scale(1.1);
  box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.2); 
  margin: 0em;
  margin-right: 1em;
  margin-left: 1em;

}
body {
  background: radial-gradient(circle, var(--secondary-background), var(--third-background), var(--primary-background));
  color: var(--primary-color);
  font-family: "nunito", sans-serif;
  height: 100vh;
  }
  .div__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    margin: 2em 10em 2em 10em;
    background: rgba(var(--primary-background-rgb), var(--gradient-percent));/*
                radial-gradient(circle, rgba(var(--primary-background-rgb), var(--gradient-percent)), rgba(var(--third-background-rgb), var(--gradient-percent)));*/
}

.div_first{
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.h1__title {
  font-size: var(--medium-font-size);
  font-weight: var(--heavy-font-weight);
  
  margin: 0.1em;
  text-align: start;
  color:var(--primary-color);
  margin-bottom: 0.5em;
  

  text-shadow: 
    1px 1px 0 var(--primary-color),
   -1px -1px 0 var(--primary-color),
   -1px 1px 0 var(--primary-color),
    1px -1px 0 var(--primary-color),
    1px 0px 0 var(--primary-color),
    0px 1px 0 var(--primary-color),
   -1px 0px 0 var(--primary-color),
    0px -1px 0 var(--primary-color);
}
.paragraph__text {
  font-size: var(--tiny-font-size);
  
}
.paragraph__details{
  font-weight: var(--medium-font-weight);
  padding-left: 1em;
  padding-bottom: 0.5em;
 
}
.paragraph__mission {
  text-align: center;
  font-size: var(--tiny-font-size);
  margin-left: 10em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-bottom: 1em;
}

@keyframes typing {
  from { clip-path: inset(0 100% 0 0); }
  to { clip-path: inset(0 0% 0 0); }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: black; }
} 

  .form__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .input__email{
    width: 15em;
    text-align: flex-end;
    font-size: var(--tiny-font-size);
    border-radius: 0.5em;
    height: 3vh;
    background: var(--primary-color);
    color: var(--primary-color);
    border: 0.12em solid var(--secondary-color); 
    margin-bottom: 0.5em;

  }

  .div__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    text-decoration: none;
  }
  .footer__page{
    display: flex;
    justify-content: center;
  }   

  .paragraph__copy{
    font-size: var(--copy-font-size);
  }
}

.button__submit{
  margin-left: 5em;
}